Sphinx==7.3.7
sphinx-autobuild==2024.4.16
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10

sphinx.ext.napoleon
sphinx.ext.autodoc
sphinx.ext.autosummary
sphinx.ext.todo
sphinx.ext.viewcode
sphinx.ext.intersphinx
sphinx.ext.graphviz
sphinxext.rediraffe
sphinx_design
sphinx_copybutton
sphinx-autoapi
sphinx.ext.doctest
sphinx.ext.coverage
sphinx.ext.mathjax
myst_parser
ablog
jupyter_sphinx
sphinxcontrib.youtube
nbsphinx
numpydoc
sphinx_togglebutton
jupyterlite_sphinx,
sphinx_favicon
urllib3==1.26.15
mne
sssm
yasa
ipywidgets